.article {
    margin-bottom:5px;
    line-height: 45px;
    text-align: left;
    padding-left: 37px;
    font-size: 15px;
    color: #303030;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    box-shadow: 0 1px 3px #cccccc;

}

.article:last-child {
    margin-bottom: 0;
}

.article__description {
    margin: 0;
}