.article {
    display: flex;
    align-items: center;
    padding-left: 37px;
    padding-right: 72px;
    margin-bottom: 5px;
    line-height: 45px;
    text-align: left;
    font-size: 15px;
    color: #303030;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    box-shadow: 0 1px 3px #cccccc;
}

.article:hover {
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0px 1px 4px #97e3cc;
}

.article:hover .button {
    display: inline-block;
}

.article:last-child {
    margin-bottom: 0;
}

.article__description {
    margin: 0;
    display: inline-block;
    width: 100%;
}